body {
	background-color: black;
}


#main {
	background-color: white;
	margin:110px 0 0 0;
	height: 500px;
	padding: 0 0 0 100px;
	min-width: 1200px;
}

.ryu , .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	  	width: 659px;
  		height: 494px;
  		position: absolute;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool, .hadouken{
	background-image: no-repeat;
}

.hadouken{
	background-image: url('../images/hadouken.gif');
	float:left;
	height: 100px;	
	widows: 160px;
	display: none;
 	position: relative;
	margin:14% 0 0 42%;
	padding:5rem;
	background-repeat: no-repeat;
}

.instruction {
	position: absolute;
	float: right;
	text-transform: uppercase;
	margin:50px 0 0 680px;
	font-family: 'poiret one', cursive;
	font-size: 2rem; 
}

.click, .key {
 	line-height: 2rem;
}

.click {
	width: 250px;
	margin:0 0 85px 0;
}

.key {
	width: 230px;
	margin: 0 0 0 280px;
}